<!-- Begin Main Wrapper -->
<div class="container main-wrapper">
  <div class="mag-content clearfix">
    <div class="row">
      <div class="col-md-12">
        <div class="ad728-wrapper">
          <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
            <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ban728.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Banner -->
  <div class="main-content mag-content clearfix">
    <div class="row">
      <div class="col-sm-12">
        <ul class="tag-list clearfix">
          <li class="trending">#Trending</li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">Windows 10</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">FIFA 2015</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">iPhone 6</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">Flappy Bird</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">World Cup</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">WeChat desktop</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">Clash of Clans</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">Apple Watch</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">CES 2015</a></li>
          <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">Lego</a></li>
        </ul>
      </div>
    </div>
    <div class="row featured-wrapper">
      <div class="col-md-12">
        <div class="flexslider">
          <!-- .featured-slider -->
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <div class="featured-slider" style="width: 800%; transition-duration: 0s; transform: translate3d(-1110px, 0px, 0px);">
              <div class="slider-item clone" aria-hidden="true" style="width: 1110px; float: left; display: block;">
                <%= render "static_pages/featured_slider/featured_slider" %>
              </div>

              <div class="slider-item flex-active-slide" style="width: 1110px; float: left; display: block;">
                <%= render "static_pages/featured_slider/featured_slider" %>
              </div><!-- .slider-item -->

              <div class="slider-item" style="width: 1110px; float: left; display: block;">
                <%= render "static_pages/featured_slider/featured_slider" %>
              </div><!-- .slider-item -->

              <div class="slider-item clone" aria-hidden="true" style="width: 1110px; float: left; display: block;">
                <%= render "static_pages/featured_slider/featured_slider" %>
              </div>
            </div>
          </div>

          <ul class="flex-direction-nav">
            <li class="flex-nav-prev">
              <a class="flex-prev" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="flex-nav-next">
              <a class="flex-next" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><i class="fa fa-angle-right"></i></a>
            </li>
          </ul>
        </div><!-- .flexslider -->
      </div>
    </div><!-- .featured-wrapper -->

    <!-- ====Main Body==== -->
    <div class="row main-body" data-stickyparent="" style="position: relative;">
      <!-- ====Big Left column==== -->
      <div class="col-md-8">

        <!-- ====Content block 1==== -->
        <section class="admag-block">
          <div class="row">

            <!-- ====Widget content==== -->
            <div class="col-md-3">
              <div class="news-feed">
                <h3 class="block-title"><span>Just Posted</span></h3>
                <ul class="widget-content">
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                  <%= render "static_pages/widget_content/article" %>
                </ul>
              </div>
            </div>

            <!-- ====Centre content==== -->
            <div class="col-md-9">
              <article class="news-block">
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb2.jpg" alt="">
                  </figure>
                </a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="category">
                  Gadget
                </a>
                <div class="news-details">
                  <h3 class="news-title">
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      5 Gadget Gifts for Father's Day
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                  <p class="simple-share">
                    by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                  </p>
                </div>
              </article>
              <%= render "static_pages/centre_content/article" %>
              <%= render "static_pages/centre_content/article" %>
              <%= render "static_pages/centre_content/article" %>
              <%= render "static_pages/centre_content/article" %>
            </div><!-- End mid column -->
          </div>
        </section>
        <!-- End content block 1 -->

        <!-- ====Content block 2==== -->
        <section class="news-text-block">
          <div class="row">
            <div class="col-md-12">

              <h3 class="block-title"><span><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Lifestyle</a></span></h3>

              <article class="news-block big-block">
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb15.jpg" alt="">
                  </figure>
                </a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="category">
                  Advice
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      7 Tips for Creating a Functional Home Workspace
                    </a>
                  </h3>
                  <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. I'm surprised you had the courage to take the responsibility yourself.</p>
                  <p class="simple-share">
                    by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>
          <%= render "static_pages/content_block_2/article" %>
          <%= render "static_pages/content_block_2/article" %>
          <%= render "static_pages/content_block_2/article" %>
        </section>
        <!-- End content block 2 -->
      </div>
      <!-- End Left big column -->

      <!-- ====Widget==== -->
      <div class="col-md-4" data-stickycolumn="">
        <aside class="sidebar clearfix">
          <div class="widget adwidget">
            <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ban300.jpg" alt=""></a>
          </div>

          <div class="widget searchwidget">
            <form class="searchwidget-form">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>

          <!-- ====Tab widget==== -->
          <div class="widget tabwidget">
            <ul class="nav nav-tabs" role="tablist" id="widget-tab">
              <li role="presentation" class="active"><a href="http://digitaltheme.co/html/admag/demo/index.php#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Popular</a></li>
              <li role="presentation"><a href="http://digitaltheme.co/html/admag/demo/index.php#tab-recent" aria-controls="tab-recent" role="tab" data-toggle="tab">Recent</a></li>
              <li role="presentation"><a href="http://digitaltheme.co/html/admag/demo/index.php#tab-comments" aria-controls="tab-comments" role="tab" data-toggle="tab">Comments</a></li>
            </ul>

            <div class="tab-content">
              <!-- ====Popular Post==== -->
              <div role="tabpanel" class="tab-pane active animated fadeIn" id="tab-popular">
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
              </div>
              <!-- End Popular posts -->

              <!-- ====Recent Post==== -->
              <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-recent">
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
                <%= render "static_pages/tab_widget/article" %>
              </div>
              <!-- End Recent Posts -->

              <!-- ====Comment==== -->
              <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-comments">
                <%= render "static_pages/tab_widget/comment" %>
                <%= render "static_pages/tab_widget/comment" %>
                <%= render "static_pages/tab_widget/comment" %>
                <%= render "static_pages/tab_widget/comment" %>
                <%= render "static_pages/tab_widget/comment" %>
              </div><!-- Comments -->
            </div>
          </div>

          <div class="widget tagwidget">
            <h3 class="block-title"><span>Tags</span></h3>
            <ul class="tags-widget">
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
              <%= render "static_pages/tab_widget/tag" %>
            </ul>
          </div>

          <div class="widget reviewwidget">
            <h3 class="block-title"><span>Reviews</span></h3>
            <%= render "static_pages/review/review" %>
            <%= render "static_pages/review/review" %>
            <%= render "static_pages/review/review" %>
            <%= render "static_pages/review/review" %>
            <%= render "static_pages/review/review" %>
          </div><!-- End review widget -->

          <div class="widget categorywidget">
            <h3 class="block-title"><span>Categories</span></h3>
            <ul>
              <%= render "static_pages/category_widget/category" %>
              <%= render "static_pages/category_widget/category" %>
              <%= render "static_pages/category_widget/category" %>
              <%= render "static_pages/category_widget/category" %>
            </ul>
          </div>

          <div class="widget adwidget subscribewidget">
            <h3 class="block-title"><span>Subscribe</span></h3>
            <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</p>
            <form class="form-inline">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your email">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Subscribe</button>
                </span>
              </div>
            </form>
          </div>
        </aside>
      </div>
      <!-- End widget -->
    </div>
    <!-- End main body -->

        <section class="admag-block">
          <div class="row">
            <div class="col-md-12">
              <h3 class="block-title"><span>Tech Spot</span></h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <article class="featured-small box-news box-big">
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                  <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/huge_thumb1.jpg" alt="">
                </a>
                <header class="featured-header">
                  <a class="category bgcolor2" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Gadget</a>
                  <h2><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Audio Equalizer Apps Beyond the Smartphone Sound</a></h2>
                  <p class="simple-share">
                    by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                    <span class="article-date">25 minutes ago</span>
                  </p>
                </header>
              </article>
            </div>

            <div class="col-md-4">
              <article class="featured-small box-news">
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                  <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb11.jpg" alt="">
                </a>
                <header class="featured-header">
                  <a class="category bgcolor2" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Apps</a>
                  <h2><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Apple iOS 8 Review</a></h2>
                  <p class="simple-share">
                    by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                    <span class="article-date">34 minutes ago</span>
                    <span class="star-reviews">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                  </p>
                </header>
              </article>
            </div>

          </div><!--End small box -->

          <div class="row">

            <div class="col-md-4">
              <article class="featured-small box-news">
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                  <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb8.jpg" alt="">
                </a>
                <header class="featured-header">
                  <a class="category bgcolor2" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Mobile</a>
                  <h2><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">The Partnership of Coffee and Tech</a></h2>
                  <p class="simple-share">
                    by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                    <span class="article-date">52 minutes ago</span>
                  </p>
                </header>
              </article>
            </div>

            <div class="col-md-4">
              <article class="featured-small box-news">
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                  <span class="play-button"><i class="fa fa-play"></i></span>
                  <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb9.jpg" alt="">
                </a>
                <header class="featured-header">
                  <a class="category bgcolor2" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Design</a>
                  <h2><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Nikon D5000 review: Design, Controls, Screen</a></h2>
                  <p class="simple-share">
                    by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                    <span class="article-date">1 hour ago</span>
                    <span class="star-reviews">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                  </p>
                </header>
              </article>
            </div>

            <div class="col-md-4">
              <article class="featured-small box-news">
                <a class="play-button" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><i class="fa fa-camera"></i></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                  <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb7.jpg" alt="">
                </a>
                <header class="featured-header">
                  <a class="category bgcolor2" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Mobile</a>
                  <h2><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">What the Viny "Comeback" Really Looks Like</a></h2>
                  <p class="simple-share">
                    by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                    <span class="article-date">2 hours ago</span>
                  </p>
                </header>
              </article>
            </div>
          </div><!-- End big box -->
        </section><!-- .admag-block -->

        <section class="admag-block">
          <div class="row">
            <div class="col-md-4 news-text-block">
              <h3 class="block-title"><span>Movies</span></h3>

              <article class="widget-post clearfix">
                <div class="simple-thumb">
                  <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                    <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/small_thumb7.jpg" alt="">
                  </a>
                </div>
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Older actors still hot in Hollywood</a>
                  </h3>
                  <p class="simple-share">
                    <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                  </p>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">How Bollywood is romancing with period films to woo modern audience</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">9 Curious Facts About Charlie Chaplin</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">5 Space Movies to Watch in 2015</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">What is the average budget for a Hollywood movie?</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">15 Of The Best Modern Movies About Selling</a>
                  </h3>
                </header>
              </article>
            </div>

            <div class="col-md-4 news-text-block">
              <h3 class="block-title"><span>Musics</span></h3>

              <article class="widget-post clearfix">
                <div class="simple-thumb">
                  <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                    <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/small_thumb6.jpg" alt="">
                  </a>
                </div>
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Inside U2's Ambitious Upcoming Tour Strategy</a>
                  </h3>
                  <p class="simple-share">
                    <span><i class="fa fa-clock-o"></i> 5 minutes ago</span>
                  </p>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Mariah Carey is a spontaneous car singing hero</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">What’s Next For One Direction?</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">This DJ Makes Music From The Heart — Literally</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">11 Truths All People Who Have Dated A Musician Will Understand</a>
                  </h3>
                </header>
              </article>

              <article class="widget-post clearfix">
                <header>
                  <h3>
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      These K-Pop Stars Are Leading A ’90s Pop Music Revival — And We’re Totally Here For It</a>
                    </h3>
                  </header>
                </article>
              </div>

              <div class="col-md-4 news-text-block">
                <h3 class="block-title"><span>Sports</span></h3>

                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/small_thumb5.jpg" alt="">
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Does going to the gym count as a sport?</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
                    </p>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <header>
                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">World Grand Prix schedule &amp; scores</a>
                    </h3>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <header>
                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Who was man of the match and who disappeared?</a>
                    </h3>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <header>
                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Messi better than Ronaldo, says Pele</a>
                    </h3>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <header>
                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Barcelona beats Real Madrid 2-1 in El Clasico</a>
                    </h3>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <header>
                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Motor racing-Alonso cleared to fly to Malaysia-reports</a>
                    </h3>
                  </header>
                </article>
              </div>
            </div><!-- End news list -->
          </section><!-- .admag-block -->

          <div class="row" data-stickyparent="" style="position: relative;">
            <div class="col-md-8">
              <section class="admag-block">
                <h3 class="block-title"><span>Business</span></h3>

                <article class="news-block big-block">
                  <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="overlay-link">
                    <figure class="image-overlay">
                      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb14.jpg" alt="">
                    </figure>
                  </a>
                  <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="category">
                    Business
                  </a>
                  <header class="news-details">
                    <h3 class="news-title">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                        3 things I learned about running startup board meetings
                      </a>
                    </h3>
                    <p>As you wish. Dantooine. They're on Dantooine. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. Red Five standing by.</p>
                    <p class="simple-share">
                      by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
                      <span class="article-date"><i class="fa fa-clock-o"></i> 10 minutes ago</span>
                    </p>
                  </header>
                </article>

                <article class="simple-post simple-big clearfix">
                  <div class="simple-thumb">

                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/med_thumb3.jpg" alt="">
                    </a>
                  </div>
                  <header>
                    <p class="simple-share">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Business</a> /
                      by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">John Doe</a> -
                      <span><i class="fa fa-clock-o"></i> 23 minutes ago</span>
                    </p>

                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">How Technology Is Revolutionizing the Franchise World</a>
                    </h3>

                    <p class="excerpt">
                      Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                    </p>
                  </header>
                </article>

                <article class="simple-post simple-big clearfix">
                  <div class="simple-thumb">
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/med_thumb1.jpg" alt="">
                    </a>
                  </div>
                  <header>
                    <p class="simple-share">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Business</a> /
                      by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">John Doe</a> -
                      <span><i class="fa fa-clock-o"></i> 49 minutes ago</span>
                    </p>

                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">8 Ways to Know If Your Business Is Ready to Franchise</a>
                    </h3>

                    <p class="excerpt">
                      Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                    </p>
                  </header>
                </article>

                <article class="simple-post simple-big clearfix">
                  <div class="simple-thumb">
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      <span class="play-button"><i class="fa fa-play"></i></span>
                      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/med_thumb2.jpg" alt="">
                    </a>
                  </div>
                  <header>
                    <p class="simple-share">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Business</a> /
                      by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">John Doe</a> -
                      <span><i class="fa fa-clock-o"></i> 1 hour ago</span>
                    </p>

                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">9 Business Leaders Share the Best and Worst Advice They've Heard</a>
                    </h3>

                    <p class="excerpt">
                      Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                    </p>
                  </header>
                </article>

                <article class="simple-post simple-big clearfix">
                  <div class="simple-thumb">
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/med_thumb54.jpg" alt="">
                    </a>
                  </div>
                  <header>
                    <p class="simple-share">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Business</a> /
                      by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">John Doe</a> -
                      <span><i class="fa fa-clock-o"></i> 2 hours ago</span>
                    </p>

                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Mainland Stock Buyers Hunt Bargains in Hong Kong</a>
                    </h3>

                    <p class="excerpt">
                      Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                    </p>
                  </header>
                </article>

                <article class="simple-post simple-big clearfix">
                  <div class="simple-thumb">
                    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                      <span class="play-button"><i class="fa fa-play"></i></span>
                      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/med_thumb55.jpg" alt="">
                    </a>
                  </div>
                  <header>
                    <p class="simple-share">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Business</a> /
                      by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">John Doe</a> -
                      <span><i class="fa fa-clock-o"></i> 2 hours ago</span>
                    </p>

                    <h3>
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Tickets and prices for Metro and public transport in Milan</a>
                    </h3>

                    <p class="excerpt">
                      Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                    </p>
                  </header>
                </article>
              </section><!-- .admag-block -->

              <div class="load-more">
                <button type="button" class="btn btn-lg btn-block">Load more</button>
              </div>

            </div>
            <div class="col-md-4" data-stickycolumn="">
              <aside class="sidebar">
                <div class="widget social-links">
                  <h3 class="block-title"><span>Follow us</span></h3>
                  <ul class="social-list">

                    <li class="social-facebook">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="social-twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="social-gplus">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                    <li class="social-youtube">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </li>
                    <li class="social-instagram">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    <li class="social-pinterest">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest">
                        <i class="fa fa-pinterest"></i>
                      </a>
                    </li>
                    <li class="social-rss">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS">
                        <i class="fa fa-rss"></i>
                      </a>
                    </li>
                  </ul>
                </div><!-- .widget .social-links -->

                <div class="widget adwidget">
                  <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ban300.jpg" alt=""></a>
                </div><!-- .widget .adwidget -->

                <div class="widget">
                  <h3 class="block-title"><span>Gallery widget</span></h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="flexslider">

                        <div class="flex-viewport" style="overflow: hidden; position: relative;"><div class="featured-slider" style="width: 1400%; transition-duration: 0s; transform: translate3d(-1400px, 0px, 0px);"><div class="slider-item clone" aria-hidden="true" style="width: 350px; float: left; display: block;">
                          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/slider5.jpg" alt="" draggable="false">
                        </div>

                        <div class="slider-item" style="width: 350px; float: left; display: block;">
                          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/slider1.jpg" alt="" draggable="false">
                        </div>

                        <div class="slider-item" style="width: 350px; float: left; display: block;">
                          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/slider2.jpg" alt="" draggable="false">
                        </div>

                        <div class="slider-item" style="width: 350px; float: left; display: block;">
                          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/slider3.jpg" alt="" draggable="false">
                        </div>

                        <div class="slider-item flex-active-slide" style="width: 350px; float: left; display: block;">
                          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/slider4.jpg" alt="" draggable="false">
                        </div>

                        <div class="slider-item" style="width: 350px; float: left; display: block;">
                          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/slider5.jpg" alt="" draggable="false">
                        </div>

                        <div class="slider-item clone" aria-hidden="true" style="width: 350px; float: left; display: block;">
                          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/slider1.jpg" alt="" draggable="false">
                        </div></div></div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><i class="fa fa-angle-left"></i></a></li><li class="flex-nav-next"><a class="flex-next" href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><i class="fa fa-angle-right"></i></a></li></ul></div>
                      </div>
                    </div>    </div><!-- .widget -->

                    <div class="widget bannerwidget">
                      <div class="widget-125 clearfix">
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" target="_blank"><img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/theme_forest_125x125.jpg" alt="Banner"></a>
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" target="_blank"><img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/audio_jungle_125x125.jpg" alt="Banner" title="Banner" width="125" height="125" class="visible animated"></a>
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" target="_blank"><img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/code_canyon_125x125.jpg" alt="Banner" title="Banner" width="125" height="125" class="visible animated"></a>
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" target="_blank"><img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/graphic_river_125x125.jpg" alt="Banner" title="Banner" width="125" height="125" class="visible animated"></a>
                      </div>
                    </div>

                  </aside><!-- End sidebar -->
                </div><!-- .col-md-4 .sticky-div -->        </div>

              </div><!-- .main-content -->

              <!-- End Main Banner -->
              <div class="mag-content clearfix">
                <div class="row">
                  <div class="col-md-12">
                    <div class="ad728-wrapper">
                      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
                        <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ban728.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Main Banner -->
            </div><!-- .main-wrapper -->