<!DOCTYPE html>
<!-- saved from url=(0049)http://digitaltheme.co/html/admag/demo/index.php# -->
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
  <!--============================= Metatag =====================================-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>ADMAG | Responsive Blog &amp; Magazine HTML Template</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="ADMAG — Responsive Blog &amp; Magazine HTML Template">
  <meta name="author" content="digitaltheme.co">
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--============================= Favicon =====================================-->
  <link rel="shortcut icon" href="http://digitaltheme.co/html/admag/demo/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://digitaltheme.co/html/admag/demo/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="http://digitaltheme.co/html/admag/demo/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="http://digitaltheme.co/html/admag/demo/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="http://digitaltheme.co/html/admag/demo/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="http://digitaltheme.co/html/admag/demo/img/favicon/android-chrome-192x192.png" sizes="192x192">


  <!--============================= Stylesheets =====================================-->
  <!-- Google Fonts -->
  <%= stylesheet_link_tag "font.css", rel: "stylesheet", type: "text/css" %>
  <%= stylesheet_link_tag "font1.css", rel: "stylesheet", type: "text/css" %>
  <%= stylesheet_link_tag "font2.css", rel: "stylesheet", type: "text/css" %>

  <!-- Icon Font -->
  <%= stylesheet_link_tag "font-awesome.css", rel: "stylesheet" %>

  <!-- Bootstrap CSS -->
  <%= stylesheet_link_tag "bootstrap.min.css", rel: "stylesheet" %>

  <!-- Theme CSS -->
  <%= stylesheet_link_tag "style.min.css", rel: "stylesheet"%>


  <!--============================= Javascript =====================================-->
  <!-- Jquery js -->
  <%= javascript_include_tag "analytics.js", async: "" %>
  <%= javascript_include_tag "jquery-1.11.2.min.js" %>

  <!-- Modernizr -->
  <%= javascript_include_tag "modernizr.min.js" %>

  <!-- Bootstrap js -->
  <%= javascript_include_tag "bootstrap.js" %>

  <!-- Google map api -->
  <%= javascript_include_tag "js.js" %>

  <!-- Theme js -->
  <%= javascript_include_tag "script.min.js" %>

  <%= javascript_include_tag "common.js", charset: "UTF-8", type: "text/javascript" %>
  <%= javascript_include_tag "util.js", charset: "UTF-8", type: "text/javascript" %>
  <%= javascript_include_tag "stats.js", charset: "UTF-8", type: "text/javascript" %>
  
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="fixed-header body-color5 background-image2 light wide">
  <%= render "navigation_bar" %>
  <div id="mm-0" class="mm-page mm-slideout">
    <div id="main" class="header-style1">
  
      <%= render "header" %>
  
      <%= render "main_wrapper" %>

      <%= render "footer" %>
    </div>

    <div id="go-top-button" class="fa fa-angle-up" title="Scroll To Top" style="bottom: -100px;"></div>
    <div class="mobile-overlay" id="mobile-overlay"></div>
    <div class="customizer">
      <div id="customizer-button" class="customizer-button">
        <i class="fa fa-cog"></i>
      </div>
      <div class="customizer-content clearfix">
        <div class="customizer-item clearfix">
          <h5>Layout Style</h5>
          <ul>
            <li class="" data-class="boxed"><span>Boxed</span></li>
            <li data-class="wide" class="active"><span>Wide</span></li>
          </ul>
        </div>

        <div class="customizer-item clearfix">
          <h5>Template Style</h5>
          <ul>
            <li class="active" data-class="light"><span>Light</span></li>
            <li data-class="dark-skin" class=""><span>Dark</span></li>
          </ul>
        </div>

        <div class="customizer-item clearfix">
          <h5>Sticky Header</h5>
          <ul>
            <li class="active" data-class="fixed-header"><span>Enable</span></li>
            <li data-class="relative-header"><span>Disable</span></li>
          </ul>
        </div>

        <div class="customizer-item clearfix customizer-colors">
          <h5>Template Color</h5>
          <ul>
            <li class="template-color1" data-class="body-color1"><span></span></li>
            <li class="template-color2" data-class="body-color2"><span></span></li>
            <li class="template-color3" data-class="body-color3"><span></span></li>
            <li class="template-color4" data-class="body-color4"><span></span></li>
            <li class="template-color5 active" data-class="body-color5"><span></span></li>
            <li class="template-color6" data-class="body-color6"><span></span></li>
          </ul>
        </div>

        <div class="customizer-item clearfix customizer-colors customizer-bg">
          <h5>Background Images</h5>
          <ul>
            <li class="no-background" data-class="no-background"><span></span></li>
            <li class="background-image1" data-class="background-image1"><span></span></li>
            <li class="background-image2 active" data-class="background-image2"><span></span></li>
            <li class="background-image3" data-class="background-image3"><span></span></li>
            <li class="background-image4" data-class="background-image4"><span></span></li>
          </ul>
        </div>

        <div class="customizer-item clearfix">
          <a href="http://themeforest.net/item/admag-responsive-blog-magazine-html-template/11147481?ref=digitaltheme" class="btn btn-default btn-purchase">
            Purchase
          </a>
        </div>
      </div>
    </div>
  </div><!-- End Main -->

  <!-- Mobile Menu -->

  <!-- / Mobile Menu -->

  <!-- Style Customizer -->
  <div id="mm-blocker" class="mm-slideout"></div>
</body>
</html>